{% extends 'root/layout.html' %}


{% block section_bestResturants %}
{% include 'root/section_bestResturants.html' %}   
{% endblock section_bestResturants %}


<!-- start top_resturats -->
{% block  top_resturats %}
{% include 'root/section_top_resturants.html' %}        
{% endblock top_resturats %}
<!-- ends here -->


<!-- start choose_enjoy -->
{% block  choose_enjoy %}
{% include 'root/section_choose_enjoy.html' %}        
{% endblock choose_enjoy %}
<!-- ends here -->

<!-- start popular_this_month -->
{% block  popular_this_month %}
{% include 'root/section_popular_this_month.html' %}        
{% endblock popular_this_month %}
<!-- ends here -->

<!-- start steps  -->
{% block steps %}
{% include 'root/section_step.html' %}
{% endblock steps %}
<!-- end steps  -->

<!-- start featured  -->
{% block featured %}
{% include 'root/section_featured_r.html' %}
{% endblock featured %}
<!-- end featured  -->

<!-- start choose resturatns and maybe order  -->
{% block  choose_r_order %}
{% include 'root/section_choose_r_order.html' %} 
{% endblock choose_r_order %}
<!-- end choose resturants  -->
