{% extends 'manager_app/dashlayout.html' %}

{% block body %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="true">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                    
                </a>
                <ul aria-expanded="false" class="mm-collapse">
                    <li><a href="{% url 'manager_app:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'manager_app:food_items' %}">Food Items</a></li>
                    <li><a href="{% url 'manager_app:orderlist' %}">Booking with Order</a></li>
                    <li><a href="{% url 'manager_app:upcomming_booking' %}">Only Table Bookings</a></li>
                    <li><a href="{% url 'manager_app:tbl_details' %}">Table's Details</a></li>
                    <li><a href="{% url 'manager_app:tbl_regi' %}">Table Register</a></li>
                </ul>
            </li>
        </ul>
    
        <div class="add-menu-sidebar">
            <img src="images/icon1.png" alt=""/>
            <p>Organize your menus through button bellow</p>
            <a href="{% url 'manager_app:product_regi'  %}" class="btn bg-white text-black">+ Add Menus</a>
        </div>
        <div class="copyright">
            <p><strong>Food With Comfort - Restaurant Admin Dashboard</strong> © 2021 All Rights Reserved</p>
            <p>Made By <span class="heart"></span> Group - 16</p>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="container-fluid">

        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Table Registeration</h4>

                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-dismissible alert-success" style="margin-left: 100px;">

                            <strong style="padding-right: 100px;">{{message}}<strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                        




                    </div>
                    <div class="card-body">
                        <div class="form-validation">

                            <form class="" action="." method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-12">

                                        {% for add in form %}
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label">{{ add.label }}
                                                <span class="text-danger">*{{add.error}}</span>
                                            </label>
                                            <div class="col-lg-6">
                                                {{ add }}
                                            </div>
                                        </div>
                                        {% endfor %}




                                        <div class="mb-3 row">
                                            <div class="col-lg-8 ms-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock body %}